menu "Configuration"

    choice BOARD_TYPE
        prompt "Board Type"
        help 
            The type of the board in the tracker

        config BOARD_UNKNOWN
            bool "Unknown"

        config BOARD_SLIMEVR_LEGACY
            bool "SlimeVR Legacy"

        config BOARD_SLIMEVR_DEV
            bool "SlimeVR Dev"

        config BOARD_NODEMCU
            bool "NodeMcu"

        config BOARD_CUSTOM
            bool "Custom"

        config BOARD_WROOM32
            bool "WROOM32"

        config BOARD_WEMOS_D1_MINI
            bool "WEMOS D1 Mini"

        config BOARD_TTGO_TBASE
            bool "TTGO T-Base"

        config BOARD_ESP01
            bool "ESP-01"

        config BOARD_SLIMEVR
            bool "SlimeVR"

        config BOARD_LOLIN_C3_MINI
            bool "Lolin C3 Mini"

        config BOARD_BEETLE32C3
            bool "Beetle32-C3"

        config BOARD_ESP32C3_DEVKIT_M1
            bool "ESP32-C3 DevKit M1"

        config BOARD_WEMOS_WROOM_02
            bool "WEMOS WROOM-02"

        config BOARD_XIAO_ESP32C3
            bool "Xiao ESP32-C3"

        config BOARD_ESP32C6_DEVKIT_C1
            bool "ESP32-C6 DevKit C1"

        config BOARD_GLOVE_IMU_SLIMEVR_DEV
            bool "SlimeVR IMU Glove Dev"

        config BOARD_SLIMEVR_V1_2
            bool "SlimeVR V1.2"

        config BOARD_ESP32S3_SUPERMINI
            bool "ESP32-S3 Supermini"

    endchoice

    choice MCU_TYPE
        prompt "MCU Type"

        config MCU_UNKNOWN
            bool "Unknown"

        config MCU_ESP8266
            bool "ESP8266"

        config MCU_ESP32
            bool "ESP32"

        config MCU_ESP32C3
            bool "ESP32-C3"
    endchoice

endmenu

